
*.db
*.db-shm
*.db-wal
*.ipch
*.opendb
.vs/c++L2/v16/.suo
*.vcxproj
*.filters
*.user
*.sln
Timer.hpp
*.exe
*.recipe
*.pdb
*.tlog
*.ilk
*.log
*.txt
*.idb
.idea/.name
.idea/HARD.iml
.idea/misc.xml
.idea/modules.xml
.idea/untitled30.iml
.idea/vcs.xml
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeFiles/3.20.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.20.2/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.20.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/Progress/1
cmake-build-debug/CMakeFiles/untitled30.dir/build.make
cmake-build-debug/CMakeFiles/untitled30.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/untitled30.dir/CXX.includecache
cmake-build-debug/CMakeFiles/untitled30.dir/depend.internal
cmake-build-debug/CMakeFiles/untitled30.dir/depend.make
cmake-build-debug/CMakeFiles/untitled30.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/untitled30.dir/flags.make
cmake-build-debug/CMakeFiles/untitled30.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/untitled30.dir/objects.a
cmake-build-debug/CMakeFiles/untitled30.dir/objects1.rsp
cmake-build-debug/CMakeFiles/untitled30.dir/progress.make
cmake-build-debug/Makefile
cmake-build-debug/untitled30.cbp
main.cpp
x64/Debug/c++L2.obj
c++L2/.vs/c++L2/v16/.suo
c++L2/c++L2/c++L2.cpp
c++L2/c++L2/Debug/c++L2.obj
c++L2 — копия.cpp
